<div id="modal-showmsg" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Message.</h4>
            </div>
            <div id="showmsg" class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if current_user.is_authenticated %}
<div id="modal-changepasswd" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <form id="changepasswd">
                    <input name="csrf_token" type="hidden" value="{{csrf_token()}}">
                    <div class="form-group">
                        <label for="old_password">Old password</label>
                        <input id="old_password" name="old_password" type="password" class="form-control" placeholder="Input old password.">
                    </div>
                    <div class="form-group">
                        <label for="new_password">New password</label>
                        <input id="new_password" name="new_password" type="password" class="form-control" placeholder="Input new password,Length between 5 and 20.">
                    </div>
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm new password</label>
                        <input id="confirm_new_password" name="confirm_new_password" type="password" class="form-control" placeholder="Input new password again.">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}